.cart-bubble:hover {
    background-color: white !important;
}

.raffle-block {
    margin-top: 4%;
    max-width: 75%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 100%;
}

.footer {
    position: absolute;
    bottom: 10;
    width: 100%;
    text-align: center;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
