<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<!-- TEMP -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
        </path>
    </symbol>
</svg>
<!-- TEMP -->

<div class="container">
    <!-- Logged in bar -->
    <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap" />
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Shop</a></li>
            <li><a href="raffle_display.html" class="nav-link px-2 link-dark">Raffles</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link nav-link px-2 dropdown-toggle link-dark" href="#" id="navbarDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Orders
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">View my order history</a></li>
                    <li><a class="dropdown-item" href="#">Create a sell order</a></li>
                </ul>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            <button class="btn btn-outline-success" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge cart-bubble bg-success text-white ms-1 rounded-pill">0</span>
            </button>
            <button type="button" class="btn btn-
                -primary me-2">Sign Out</button>
        </div>
    </header>
    <form th:object="${shoppingCartInput}" method="post" th:action="@{/add}">
        <div class="row product-margin">
                <!-- Item Image Side -->
                <div class="col-6">
                    <div id="carouselExampleIndicators" class="carousel carousel-dark slide shadow p-2 mb-5"
                         data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div th:each="photo,iter: ${item.photos}" th:class="${iter.index} == 0 ? 'carousel-item active' : 'carousel-item'">
                                <img th:src="${photo.secureURL}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!-- Item Side -->
                <div class="col-6">
                    <h2 class="text-primary" name="">[[${item.itemName}]]</h2>
                    <p class="product-category-p text-secondary">[[${item.category.categoryName}]]</p>

                    <h4 class="text-success inline">Now $[[${item.itemDesiredValue}]]</h4>
                    <h4 class="text-danger text-decoration-line-through ms-2 mb-3 inline"
                        th:with="result=${item.itemDesiredValue + 50}">$[[${result}]]</h4>

                    <div class="form-check mb-3">
                        <div th:if="${item.quantityBought} > 0">
                            <input class="form-check-input" type="checkbox" id="flexCheckChecked" disabled checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                In stock
                            </label>
                        </div>
                        <div th:if="${item.quantityBought} == 0">
                            <input class="form-check-input" type="checkbox" id="flexCheckNotChecked" disabled>
                            <label class="form-check-label" for="flexCheckChecked">
                                Out of stock
                            </label>
                        </div>
                    </div>

                    <div class="mb-5">
                        <label for="exampleFormControlSelect1">Choose Extras:</label>
                        <select id="exampleFormControlSelect1" class="form-select mb-2" aria-label="Default select example">
                            <option selected>No thanks</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="exampleFormControlSelect2">Tip Upgrade:</label>
                        <select id="exampleFormControlSelect2" class="form-select mb-2" aria-label="Default select example">
                            <option selected>No thanks</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="exampleFormControlSelect3">Wrap Options:</label>
                        <select id="exampleFormControlSelect3" class="form-select mb-2" aria-label="Default select example">
                            <option selected>No thanks</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="exampleFormControlSelect4">Custom Engraving:</label>
                        <select id="exampleFormControlSelect4" class="form-select mb-2" aria-label="Default select example">
                            <option selected>No thanks</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <input type="text" th:value="${item.itemName}" hidden th:name="*{itemName}" th:id="name"/>
                    <button type="submit" class="btn btn-lg btn-success float-end inline">Add to cart</button>
                </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>

</html>